*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-fon: #888888;
  --basic-fon-dark: #EEEEEE;
  --basic-text: #283136;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --basic-golden: #EFC849;
  --basic-grin: #00CA74;
  --basic-grin-light: #00BC6C;
  --basic-grin-dark: #00AA62;
  --basic-white: #FFFFFF;
  --basic-gray: #666666;
  --basic-gray-dark: #444444;
  --basic-gray-light: #D7DCDE;
  --basic-red-light: #E74246;
  --basic-red-dark: #D7373B;
  --basic-gold-light: #EAB534;
  --basic-gold-dark: #E5A722;
  --basic-gray-gray: #B4B9BB;
  --basic-gray-graphite: #DFDFDF;
  --basic-gray-graphite-light: #D5D5D5;
  --basic-graphite: #DBDBDB;
  --basic-white-gray: rgba(255, 255, 255, 0.3);
  --basic-black-gray: rgba(0, 0, 0, 0.3);
  --basic-active-gray: #C1C1C1;
  --basic-white-light: rgba(0, 0, 0, 0.0001);
  --basic-shadow: rgba(0, 1, 1, 0.1);
  --basic-gray-next: #A6A6A6;
}

.page {
  height: 100%;
}


body {
  min-height: 100%;
  min-width: 960px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  background-color: transparent;
}

.main-nav {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.slide-list {
  margin: 0;
  padding: 0;
}

.site-nav {
  display: flex;
  width: 530px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-left: 202px;
  padding-top: 75px;
}

.site-nav a {
  text-decoration: none;
  color: var(--basic-black);
  margin-right: 45px;
}

.basket {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  text-decoration: none;
  padding-top: 75px;
  display: flex;
}

.basket::before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(img/basket-icon.svg);
  background-repeat: no-repeat;
  margin: 7px 25px 0 0;

}

.main-header,.main-slide {
  background-color: var(--basic-fon-dark);
}

.main-slide {
  margin-bottom: 80px;
}

.site-nav a:hover,.basket:hover,.product-title:hover {
  color: var(--basic-red);
}

.basket:active,.site-link:active {
  color: var(--basic-black-gray);
}

.site-link.active,.basket.active {
  border-bottom: 2px solid var(--basic-red);
}

.logo-img:hover {
  opacity: 0.7;
}

.logo-img:active{
  opacity: 0.3;
}

.main-header-logo {
  padding-top: 49px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slide-item {
  display: grid;
  grid-template-columns: 1fr 760px;
}

.slide-box {
  padding-top: 78px;
  padding-bottom: 80px;
}

.slide-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88px;
  height: 18px;
  margin: 0;
  padding: 0;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
  margin: 0 0 25px;
}

.slide-link,.contacts-link {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  width: 240px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-text {
  margin: 0 0 38px;
}

.slide-switch {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

/*.slide-switch.active {
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-active-gray);
  border-radius: 50%;
}*/

.slide-img,.contacts-map-img {
  max-width: 100%;
  height: auto;
}

.services-item::before {
  content: '';
  display: block;
  width: 300px;
  height: 146px;
  margin: 0 0 25px;
}

.services-item-site {
  background-image: url("img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.services-item-applications {
  background-image: url("img/illustration-2.jpg");
  background-repeat: no-repeat;
}

.services-item-presentation {
  background-image: url("img/illustration-3.jpg");
  background-repeat: no-repeat;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 100px;
  margin: 0;
  padding:0 0 80px;
}
.service-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 16px;
}

.service-text {
  font-weight: normal;
  line-height: 24px;
  color: var(--basic-text);
  margin: 0 0 32px;
}

.service-button-box {
  margin: 0;
}

.service-button {
  color: var(--basic-white);
  font-weight: 500;
  line-height: 18px;
  width: 160px;
  height: 50px;
  border-radius: 3px;
  display: inline-block;
}

.service-button.site {
  background-color: var(--basic-red);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-button.applications {
  background-color: var(--basic-grin);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-button.presentations {
  background-color: var(--basic-golden);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-box {
  display: grid;
  grid-template-columns: 655px 1fr;
  margin-bottom: 73px;
}

.about-text {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0 0 32px;
  padding-top: 73px;
}

.about-list {
  margin: 0;
  padding: 0;
}

.about-content {
  margin: 0 0 40px;
}

.about-list-title,.advantages-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.about-list-title {
  margin: 0 0 23px;
}

.advantages {
  margin-left: auto;
  padding-top: 39px;
}

.advantages-text {
  color: var(--basic-black);
  margin: 0 0 31px;
  text-align: center;
}

.advantages::before {
  content: '';
  display: block;
  width: 360px;
  height: 208px;
  background-image: url(img/nerds-illustration.png);
  background-repeat: no-repeat;
  margin: 0 0 37px;
}

.advantages-list {
  display: flex;
  width: 360px;
  margin: 0;
  padding: 0;
}

.advantages-content {
  line-height: 18px;
  margin: 0 0 10px;
}

.advantages-text-box {
  margin: 0;
  width: 120px;
}


.advantages-indicator {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.partners {
  margin-bottom: 80px;
}

.partners-img{
  opacity: 0.2;
}

.partners-img:hover {
  opacity: 1;
}

.partners-img:active {
  opacity: 0.1;
}

.partners-img-academy {
  width: 199px;
  height: 57px;
}

.partners-img-barbershop {
  width: 209px;
  height: 90px;
}

.partners-img-pink {
  width: 185px;
  height: 52px;
}

.partners-img-mishka {
  width: 173px;
  height: 84px;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.contacts-text {
  line-height: 18px;
  color: var(--basic-gray);
  margin: 0;
}

.contacts-text-phone {
  margin: 0 0 37px;
}

.contacts-text span {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 23px;
  display: inline-block;
}

.contacts-phone {
  color: var(--basic-gray);
}

.contacts-marker-img {
  position: absolute;
  left: 850px;
  right: 360px;
  top: 3100px;
}

.contacts-button {
  margin: 0;
}

.footer-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.socials-list {
  margin: 0;
  padding: 0;
}

.social-button {
  color: inherit;
}

/*.socials-button {
  background-image: url("img/vk-icon.svg");
  background-repeat: no-repeat;
  background-color: red;
}*/

/*.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}*/

.copyright {
  padding: 75px 0 106px;
}

.copyright-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0 0 10px;
}

.copyright-text {
  line-height: 22px;
  color: var(--basic-gray-dark);
  margin: 0;
}

.modal {
  width: 960px;
  margin: 0 auto;
}

.modal-box {
  width: 761px;
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin: 0 0 37px;
}

.modal-content {
  margin: 0;
  padding: 0;
}

.modal-input-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.modal-field {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-black);
}

.connection-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-weight: 500;
  line-height: 18px;
  width: 259px;
  height: 50px;
  border-radius: 3px;
}

.modal-field {
  opacity: 1;
}

.connection-field {
  width: 360px;
  line-height: 18px;
  font: inherit;
  background-color: transparent;
  color: var(--basic-gray-dark);
  border: 2px solid var(--basic-gray-light);
  margin-bottom: 34px;
}

.connection-text {
  width: 760px;
  margin: 0 0 47px;
}

.connection-field:hover {
  border: 2px solid var(--basic-gray-gray);
}

.connection-field:focus {
  border: 2px solid var(--basic-black);
}

.change:hover {
  background-color: var(--basic-red-light);
}

.change:active {
  background-color: var(--basic-red-dark);
  color: var(--basic-white-gray);
}

.product-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*.product-img-background::before {
  content: '';
  display: block;
  width: 360px;
  height: 40px;
  background-image: url(img/background-product.png);
  background-repeat: no-repeat;
  opacity: 0.12;
  margin: 0;
  padding: 0;
}

.product-img-background:hover {
  opacity: 1;
}*/

.button-nav:hover {
  background-color: var(--basic-gray-graphite);
}

.button-nav:active {
  background-color: var(--basic-gray-graphite-light);
  color: var(--basic-black-gray);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.service-button.applications:hover {
  background-color: var(--basic-grin-light);
}

.service-button.applications:active {
  background-color: var(--basic-grin-dark);
  color: var(--basic-white-gray);
}

.service-button.presentations:hover {
  background-color: var(--basic-gold-light);
}

.service-button.presentations:active {
  background-color: var(--basic-gold-dark);
  color: var(--basic-white-gray);
}

.modal-close {
  background-image: url("img/close-cross.svg");
  background-repeat: no-repeat;
}

.filter-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 42px;
  grid-row-gap: 30px;
  margin: 0 0 55px;
  padding: 0;
}

.catalog-title {
  background-color: var(--basic-fon-dark);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  padding: 87px 0 108px;
  margin: 0 0 55px;
}

.range-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.price-title {
  margin: 0 0 48px;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting-title {
  margin: 0 266px 48px 0;
  padding: 0;
}

.sorting-list {
  display: flex;
  margin: 0 0 54px;
  padding: 0;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  margin: 0 25px 0 0;
}

.sorting-link:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-link:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-link.active {
  opacity: 1;
}

.sorting-link-next::after {
  content: '';
  display: block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("img/triangle-hover.svg");
  opacity: 0.2;
}

.sorting-link-next:hover {
  color: var(--basic-gray-next);
  opacity: 1;
}

/*.sorting-link-next.active {

}*/

/*.sorting-link-back {
  background-image: url("img/triangle2.svg");
  background-repeat: no-repeat;
}*/

.box-filter-range {
  background-color: var(--basic-fon-dark);
  width: 260px;
  height: 80px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 14px;
}

.filter-range {
  background-color: var(--basic-grin);
  width: 138px;
  height: 2px;
}

.filter-importance {
  margin: 0 0 54px;
}

.filter-importance-min,.filter-importance-max {
  background-color: var(--basic-fon-dark);
  width: 80px;
  height: 38px;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.layout,.features {
  border: none;
  margin: 0;
  padding: 0;
}

.features-title,.layout-title {
  margin-bottom: 16px;
}

.layout-view {
  line-height: 20px;
}

.layout-list {
  margin: 0 0 47px;
  padding: 0;
}

.layout-item,.features-item {
  margin-bottom: 20px;
}

.features-list {
  margin: 0 0 50px;
  padding: 0;
}

.filter-button {
  background-color: var(--basic-fon-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  border-radius: 3px;
}

.product-description {
  text-align: center;
  width: 360px;
  height: 231px;
  background-color: var(--basic-fon-dark);
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 12px;
  padding: 26px 0 0;
}

.prodduct-content {
  width: 255px;
  line-height: 18px;
  color: var(--basic-gray);
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;
}

.product-button {
  width: 200px;
  height: 50px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border-radius: 3px;
}

.product-button:active {
  color: var(--basic-white);
}

.pages-navigation-list {
  display: flex;
  margin: 0 0 60px;
  padding: 0;
}

.pages-navigation-link {
  background-color: inherit;
  color: var(--basic-black);
  font-weight: 500;
  line-height: 18px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages-navigation-item {
  border-radius: 3px;
  background-color: var(--basic-fon-dark);
  text-align: center;
  margin-right: 11px;
}

.pages-navigation-next {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages-navigation-item.active {
  background-color: var(--basic-white-light);
  border: 3px solid var(--basic-graphite);
  border-radius: 3px;
}

